@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(204, 204, 204, 0.5);
  user-select: none;
  font-weight: 500;
  transition: all 0.5s linear;
  margin-bottom: 25px;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.001);
}

.copyright {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
}
.copyright a {
  text-decoration: none;
}

@media (max-width: 460px) {
  .container h1 {
    font-size: 22px;
  }
}
